<h1>Situação</h1>
<br>
<div class="row">
	<div class = "col-sm-3"><center>
		<% if @situation.temp <= @parameter.temp_min%>
			<%= button_to "", "", class: "situation-icon-temp-low" %>	
			<!-- <img class="situation-icon-temp-low"> -->
		<% elsif @situation.temp >= @parameter.temp_max%>
			<%= button_to "", "", class: "situation-icon-temp-high" %>
			<!-- <img class="situation-icon-temp-high"> -->
		<% else %>
			<%= button_to "", "", class: "situation-icon-temp-good" %>
			<!-- <img class="situation-icon-temp-good"> -->
		<% end %>
		<h3><b>Temperatura:</b> <%= @situation.temp%>°C </h3>
		</center>
	</div>
	<div class = "col-sm-3"><center>
		<% if @situation.ground_umi <= @parameter.ground_umi_min%>
			<%= button_to "", "", class: "situation-icon-ground-dry" %>
			<!-- <img class="situation-icon-ground-dry"> -->
		<% elsif @situation.ground_umi >= @parameter.ground_umi_max%>
			<%= button_to "", "", class: "situation-icon-ground-wet" %>
			<!-- <img class="situation-icon-ground-wet"> -->
		<% else %>
			<%= button_to "", "", class: "situation-icon-ground-ok" %>
			<!-- <img class="situation-icon-ground-ok"> -->
		<% end %>
		<h3><b>Umidade do Solo:</b> <%= @situation.ground_umi%>% </h3>
		</center>
	</div>
	<div class = "col-sm-3"><center>
		<% if @situation.umidity <= @parameter.umidity_min%>
			<%= button_to "", "", class: "situation-icon-ground-dry" %>
			<!-- <img class="situation-icon-ground-dry"> -->
		<% elsif @situation.umidity >= @parameter.umidity_max%>
			<%= button_to "", "", class: "situation-icon-ground-wet" %>
			<!-- <img class="situation-icon-ground-wet"> -->
		<% else %>
			<%= button_to "", "", class: "situation-icon-ground-ok" %>
			<!-- <img class="situation-icon-ground-ok"> -->
		<% end %>
		<h3><b>Umidade do Ar:</b> <%= @situation.umidity%>% </h3>
		</center>
	</div>
	<div class = "col-sm-3"><center>
		<% if @situation.lum <= @parameter.lum_min%>
			<%= button_to "", "", class: "situation-icon-ground-dry" %>
			<!-- <img class="situation-icon-ground-dry"> -->
		<% elsif @situation.lum >= @parameter.lum_max%>
			<%= button_to "", "", class: "situation-icon-ground-wet" %>
			<!-- <img class="situation-icon-ground-wet"> -->
		<% else %>
			<%= button_to "", "", class: "situation-icon-ground-ok" %>
			<!-- <img class="situation-icon-ground-ok"> -->
		<% end %>
		<h3><b>Luminosidade:</b> <%= @situation.lum%> </h3>
		</center>
	</div>
</div>
<!-- <h3><b>Temperatura:</b> <%= @situation.temp%>°C </h3>
<h3><b>Umidade:</b> <%= @situation.umidity%>% </h3>
<h3><b>Nível de Água:</b> <%= @situation.water_level%> </h3>
<h3><b>Luminosidade:</b> <%= @situation.lum%></h3>
<h3><b>Umidade do Solo:</b> <%= @situation.ground_umi%></h3>
<h3><b>Regador:</b> <%= @situation.pump? ? 'Ligado' : 'Desligado'%> </h3> -->
<!-- <%= image_tag "image.jpg" %> -->